USE [master]
GO
/****** Object:  Database [Hackathon]    Script Date: 5/22/2018 4:08:26 PM ******/
CREATE DATABASE [Hackathon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hackathon', FILENAME = N'C:\Users\Anita_shivdas_birada\Hackathon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hackathon_log', FILENAME = N'C:\Users\Anita_shivdas_birada\Hackathon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hackathon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hackathon]
GO
/****** Object:  Table [dbo].[TestCase]    Script Date: 5/22/2018 4:08:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TestCase](
	[Id] [int] NOT NULL,
	[TestCaseName] [varchar](50) NULL,
	[LastRunStatus] [bit] NULL,
	[IsExecuted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TestCaseExecution]    Script Date: 5/22/2018 4:08:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TestCaseExecution](
	[TestCaseId] [int] NULL,
	[WebElementId] [int] NULL,
	[TestCaseStepSequence] [int] NULL,
	[StepDescription] [varchar](200) NULL,
	[id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WebElements]    Script Date: 5/22/2018 4:08:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WebElements](
	[Id] [int] NOT NULL,
	[IsMultipleElemets] [bit] NULL,
	[ElementName] [varchar](30) NULL,
	[Locator] [varchar](30) NULL,
	[FindElementMachanism] [varchar](50) NULL,
	[InputType] [varchar](30) NULL,
	[InputData] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TestCaseExecution]  WITH CHECK ADD FOREIGN KEY([TestCaseId])
REFERENCES [dbo].[TestCase] ([Id])
GO
ALTER TABLE [dbo].[TestCaseExecution]  WITH CHECK ADD FOREIGN KEY([WebElementId])
REFERENCES [dbo].[WebElements] ([Id])
GO
USE [master]
GO
